<!DOCTYPE html>
<head>

</head>
<style>
    #success_message{ display: none;}
</style>
<script> src="Thirdpage register.js"</script>
<body>
    <div class="container">

        <form class="well form-horizontal" action="/info/" method="POST"  id="contact_form">
    <fieldset>
    
    <!-- Form Name -->
   <center>
    <h2><b>Registration Form</b></h2><br>
    
    <!--Name-->

    <div class="form-group">
      <label class="col-md-4 control-label">Name</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  name="Name" placeholder="First Name" class="form-control"  type="text">
        </div>
      </div>
    </div>

    
    <!-- Email -->
           <div class="form-group">
      <label class="col-md-4 control-label">E-Mail</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input name="Email" placeholder="E-Mail Address" class="form-control"  type="text">
        </div>
      </div>
    </div>
    
    <!-- Date of Birth-->
    <div class="form-group">
      <label class="col-md-4 control-label">Birthday</label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input name="Date" placeholder="Date of birth" class="form-control"  type="date">
        </div>
      </div>
    </div>
    

    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4"><br>
        <button type="submit" class="btn btn-warning" ><span class="glyphicon glyphicon-send">Submit</span></button>
      </div>
    </div>
    
    </fieldset>
    </form>
    <br>
    <a href="/login" >Go back to login</a>
    </div>
        </div><!-- /.container -->
    </center>
</body>